apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: kube-vip
  name: kubevip
  namespace: kube-system
data:
  cidr-global: 192.168.1.170/29
  cidr-default: 192.168.1.200/29
  cidr-ipv6: 2001::10/127