---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-vm-pvc-encrypted
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-crypto-global
  resources:
    requests:
      storage: 2Gi
